.navbar{
    background-color: #2C3E50;
    height: 106px;
    font-family: sans-serif;
    font-weight: 700;
}

.navbar .navbar-brand{

    margin-left: 100px;
    font-size: 35px;
}
.navbar a{
    color: #fff !important;
    font-size: 20px;
}